.contents
	.side-content
		= render partial: "shared/side-top"
		.side-bottom
			.chat-info
				- current_user.groups.each do |group|
					= link_to group_messages_path(group), { class: "chat-content"} do
						.user__name
							= group.name
						.user__message
							= group.show_last_message 
	.main-content
		.main-top
			.top-info
				.top-info__user-name
					= current_user.name
				.top-info__chat-members Member: nobuo, sasaki
			%button{class: "edit-btn"} EDIT
		.main-center		
			.chat-content
				= render partial: "shared/message", collection: @messages  
		= render partial: "shared/main-bottom"
