.contents
	.side-content
		.side-top
			%h3.side-top__user-name
				= current_user.name
			%ul.side-top__menu--btn
				%li{class: "new-btn"}
					= link_to new_group_path do
						%i.fa.fa-edit.fa-lg.fa-new
				%li{class: "setting-btn"}
					= link_to edit_user_path(current_user.id) do
						%i.fa.fa-cog.fa-lg.fa-setting
		.side-bottom
			.chat-info
				- current_user.groups.each do |group|
					= link_to group_messages_path(group), { class: "sample-chat"} do
						.user__name
							= group.name
						.user__message
							メッセージはまだありません。
